<!DOCTYPE html>
<html lang="ja">
    <head>
        <!--<link rel="stylesheet" href="/assets/css/design.css">-->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
        <link rel="stylesheet" href="/assets/css/reset.css">
        <meta charset="UTF-8">
        <title>タイトル</title>
    </head>
    <body>
        <%= yield %>
    </body>
    </html>
    